.venv
.venv-*/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

media/
static/
staticfiles/


.DS_Store
.idea/
.vscode/
inference_code/models/**/*.h5
inference_code/models/**/*.h5
inference_code/models/**/*.h5
inference_code/models/**/*.h5
inference_code/models/**/*.h5
